body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.custom-jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}

#sortable {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  margin: 0;
}

.schedule-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 30px;
  border: 1px solid #c5c5c5;
  font-weight: normal;
  color: #454545;
  margin: 0;
  align-items: center;
}

.schedule-item p{
  margin: 0;
  padding-left: 5px;
}

#time-line {
  position: absolute;
  width: auto;
  margin-left: 16%;

  /* border: solid pink 1px; */
}

#time-line p {
  padding: 36.5px;
  margin: 0;
  border-bottom: 1px dashed black;
}

#time {
  font-family: monospace;
}

.save {
  position: absolute;
  display: flex;
  margin-left: 1039px;
  height: 90px;
  width: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 0 10px 10px 0;
  background-color: #06AED5;
}

#confirm-save {
  text-align: center;
}